*{
     margin: 0px;   
    padding: 0px;
   
}
body{
   
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* header related styles */
.header{
    height: 809px;
    width: 1600px;
    background-image: url(images/banner/banner2.png);
 
}
.header-div{
padding-top: 180px;
padding-left: 845px;
}
.header-title{
    display: flex;
width: 525px;
flex-direction: column;
color:  #151414;
text-align: right;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.header-paragraph{
    display: flex;
    width: 494px;
    flex-direction: column;
    padding-left: 23px;
    padding-top: 20px;
    color:  #444343;
text-align: right;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}
.header-btn{ 
    color: #FFF;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
background: #F15B22;
font-size: 20px;
font-weight: 600;
margin-left: 355px;
    margin-top: 30px;

}
/* main related styles */
/* main{
    height: 1837px;
} */
.main-div{
    width: 1600px;
display: flex;
justify-content: space-between;


}
/* .div-images{
border-radius:527.929px;
    background: rgba(241, 91, 34, 0.20);
    width: 527.929px;
height: 527.929px;
}

.images{
    width: 451px;
    

} */
.div-images {
    position: relative;
    width: 527.929px;
    height: 527.929px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 84px;
    margin-left: 100px;
  }
  
  .images {
    width: 451px;
    display: block;
    margin: 0 auto;
  }
  
  .background-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 101%;
    background: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    opacity: 0.80;
   
  }
  
  
.child-div{
  
    margin: 164px 169px 5px 3px;
}
.child-div-h3{
font-size: 40px;
font-weight: 700;
padding-bottom: 24px;
}
.child-div-para{
font-size: 16px;
line-height: 26px;
padding-bottom: 24px;
}
.child-div-ul{
line-height: 30px;
list-style: none;
}
/* my plan section related styles */

.myplans{
    margin-top: 71px;
   text-align: center;
   width: 1600px;
}
.section-h2{
    margin: 7px 7px 7px 2px;

    font-size: 40px;
    font-weight: 700;
}
.section-boxes{   
  

    margin: 32px 54px 9px 54px;
} 

.section-boxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section > h4,p{
    padding-bottom: 15px;
}
.section > h4{
    padding-top: 15px;
}


section{
    margin: 48px 30px 59px 297px;
    width: 1000px;
    height: 300px;
    background-color: #444343;
    
    border-radius: 8px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%),url(images/watch.png);
   
    

}
.div-h3{
    padding: 54px 2px 18px 90px; 
  font-size: 40px;
    font-weight: 700;
    color: #FFF;
}

.div-btn{
    margin-left: 90px;
    width: 160px;
height: 64px;
flex-shrink: 0;
border: 1px solid white;
border-radius: 5px;
background: #FFF;
color: #F15B22;
text-align: center;
font-size: 20px;
font-weight: 600;
}





/* footer related styles */
.footer-parent{
    width: 1600px;
    height: 577px;
    flex-shrink: 0;
    background: var(--dark-01, #151414);
    color: #F8F8F8;
    display: flex;
    justify-content: space-between ;
}
.footer-div{
    padding-left: 237px;
    padding-top: 151px;

}
.footer-h2{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 24px;
}
.footer-paragraph{
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 24px;
}
.footer-h5{
   
    padding-bottom: 24px;
}
.footer-anchor-div{
   
}
.footer-anchor{
    margin-right: 15px;
}
.footer-div1{
    padding-right: 364px;
    padding-top: 172px;
}
.footer-h3{
    margin-bottom: 20px;
font-size: 25px;
font-weight: 600;
}
.footer-input{
    background: var(--dark-01, #151414);
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 310px;
height: 50px;

padding-left: 23px;
margin-bottom: 18px;
}
.footer-input::placeholder {
    color: #fcfcfc; 
    font-weight: bold; 
  }
  
.footer-btn{
    border-radius: 8px;
    background: #FFF;
    width: 170.106px;
height: 64px;
color: #F15B22;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
