*{
margin: 0;
padding: 0;
font-family: Work Sans;
}


    
/* main div parent related styles */
.parent{
   margin-top: 216px;
   width:1600px;
    height: 808px;
    background-color: antiquewhite;
    margin: auto;
    background-image: url('images/banner/banner1.png');
    text-align: right;
    padding-right: 230px;
    background-repeat: no-repeat;
    background-size: cover;
    

}
/* div child related styles */
.child{
    display: block;
   position: relative;
   padding-top: 216px;
   padding-left: 67%;

}
.title{
    display: flex;
width: 525px;
flex-direction: column;
flex-shrink: 0;
color: var(--dark-01, #151414);

font-family: Work Sans;
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.paragraph{
    margin-top: 24px;
    color: var(--dark-02, #444343);
width: 494px;
height: 78px;
opacity: 0.5px ;
    display: flex;
    width: 494px;
    flex-direction: column;
    flex-shrink: 0;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
display: flex;
width: 494px;
flex-direction: column;
flex-shrink: 0;
padding-right: 230px;

}
/* button related styles */
.btn{
    color: #FFF;
    text-align: center;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
   margin-top: 32px;
    border-radius: 5px;
background: #F15B22;
width: 160px;
height: 64px;
flex-shrink: 0;
}
/* section div parent related styles */
.main-section{
    margin-top: 100px;

}
.section-parent{
    display: flex;
    justify-content: space-between;
    
}
.image{
    margin-left: 228px;
    height: 3230px;
}
.content{
    display: block;
   justify-content: space-around;
   align-items: center;
}
.section-title{

}